POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=database
PORT=3000
GATEWAY_BASE_URL=https://gateway.agvm.mg
GATEWAY_TIMEOUT_MS=120000

# --- Integration SIGRNF (desactivee par defaut, aucun secret dans ce fichier) ---
SIGRNF_ENABLED=false
SIGRNF_BASE_URL=
SIGRNF_API_KEY=
SIGRNF_TIMEOUT_MS=10000
SIGRNF_RETRY_ATTEMPTS=3
